{% extends "_partials/base.html" %} {% block content %} {% load static %}
  <div class="jumbotron">
    <h1>Oppkey Host Management</h1>
    {% if user.is_authenticated %}
      <p>Logged as {{ user.email }}</p>
      <p>with username {{ user.username }}</p>
      <p>{{user.first_name}}</p>
      <p>{{user.last_name}}</p>
      <p>{{user.image.url}}</p>
      <p>{{user.locale}}</p>
      <h2><a href="/admin/">Go To Management Console</a></h2>
      <hr>
      <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
    {% else %}
      <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">
        Google Login
      </a>
    {% endif %}
  </div>

  <div class="container-fluid">
  {% for post in posts %}
    <div>
      <h2>{{ post.uuid }}</h2>
      <p>Posted by {{ profile.user.email }} | {{ post.date }}</p>
    </div>
  {% endfor %}
  </div>
{% endblock content %}